body{
    background-color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
}

.button{
    background-color: transparent;
    border: solid black;
    padding: 0 13px;
    cursor: pointer;
    border-radius: 6px;
    margin: 2px;
}
